name: Auto Assign Reviewers

on:
  pull_request:
    types: [opened, ready_for_review]

jobs:
  assign-reviewers:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Assign Reviewers
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Variables
          REPO_OWNER="${{ github.repository_owner }}"
          REPO_NAME="$(echo "${{ github.repository }}" | cut -d'/' -f2)"
          PR_NUMBER="${{ github.event.pull_request.number }}"
          
          # Lista de revisores individuales
          REVIEWERS='["jbustillolorenzo", "yiramirez"]'

          # Lista de equipos
          TEAM_REVIEWERS='["RENFE-NSV/renfe-nsv-devops"]'

          # Llamada a la API para asignar revisores
          RESPONSE=$(curl -s -o response.json -w "%{http_code}" -X POST \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/$REPO_OWNER/$REPO_NAME/pulls/$PR_NUMBER/requested_reviewers \
            -d "{\"reviewers\": $REVIEWERS, \"team_reviewers\": $TEAM_REVIEWERS}")
